.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* Adjust the height as needed */
}

/* Define a breakpoint for mobile devices */
@media screen and (max-width: 768px) {
  /* Decrease font size for table cells on smaller screens */
  table {
    font-size: 12px;
  }
}